body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
    -28.61deg,rgba(164, 246, 255, 1) 0%,rgb(0, 58, 64) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;
  }

.login-container,
.dashboard-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background: #4b9334;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background: #418a31;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}