<!-- TODO: This page should allow the instructor to create a project and make groups, which
 in turn creates individual roadmaps for each of the group members -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Roadmap</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_roadmap_form_styles.css' %}">
</head>


<form method="POST">
    {% csrf_token %}

    <label for="roadmap_title">Group Roadmap Title:</label>
    <input type="text" name="roadmap_title" id="roadmap_title" required>
    
    <label for="roadmap_description">Roadmap Description:</label>
    <textarea name="roadmap_description" id="roadmap_description" required></textarea>

    {% if class_instance %}
    <h2>Students in {{ class_instance.class_name }}:</h2>
    <h3>Select Students for this Roadmap</h3>
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.username }}</td>
                <td>
                    <input type="checkbox" name="selected_students" value="{{ student.id }}">
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No students enrolled.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}





    <div></div>
    <a href="{% url 'dashboard' %}" class="button">Back</a>
    <button class="button" type="submit">Create</button>
</form>



{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}