<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>

    <div class="dashboard-container">

        <!-- Sidebar Navigation -->
        <div class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li><a href="{% url 'dashboard' %}">Home</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>

            <div class="join-class">
            </div>
        </div>

        <!-- Main Dashboard Content -->
        <div class="main-content">
            <h1>{{ project_instance.project_title }}</h1>
            <p>{{ project_instance.project_description }}</p>

            <hr>

            <div class="course-grid">
                {% for roadmap in roadmaps %}
                    <a href="{% url 'roadmap-details' class_instance_id project.id roadmap.id %}" class="course-card">
                        <h2>{{ roadmap.roadmap_title }}</h2>
                        <p>{{ roadmap.roadmap_description }}</p>

                            {% for student in roadmap.roadmap_students %}
                                <p>{{ student.first_name }} {{ student.last_name }},</p>
                            {% endfor %}
                    </a>
                    {% empty %}
                    {% if not student %}
                        <p>No roadmaps listed. Create groups below!</p>
                        
                    {% else %}
                        <p>You haven't been added to any roadmaps yet for this project</p>
                    {% endif %}
                {% endfor %}
            </div>

            

            {% if not student %}
                <hr>
                <h2>Project Functions</h2>
                
                <div class="create-function">
                    <hr>
                    <form action="{% url 'roadmap-create' class_instance.id project_instance.id %}" method="GET">
                        {% csrf_token %}
                        <div>
                            <div>
                                <h3>Create Roadmaps</h3>
                            </div>
                            <div>
                                <div><button type="submit">Create Roadmaps</button></div>
                            </div>
                            
                        </div>
                    </form>
                </div>
                
                <hr>
                
                <h3>Delete Project</h3>
                
                <div class="remove-function">
                    <form action="{% url 'project-delete' class_instance.id project_instance.id %}" method="POST"
                        onsubmit="return confirm('Are you sure you want to delete this project? All assigned roadmaps will also be deleted!');">
                        {% csrf_token %}
                        <button type="submit">Delete Project</button>
                    </form>
                </div>

            {% endif %}
        </div>
        

    </div>

</body>

</html>